.hidden {
  display: none !important;
}

@media screen and (min-width: 808px) {
  h3 {
    font-size: 1.8rem;
  }

  .mood-container {
    flex-direction: row;
  }

  .entry {
    width: 570px;
  }

  .sad-view-container {
    flex-wrap: nowrap;
  }

  .column-half {
    margin: 0 30px;
  }

  .description p {
    width: 400px;
  }
}
