body {
  background-color: #6ca4b4;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 1.6rem;
}

.navbar-container {
  height: 89vh;
}

.navbar {
  height: 10%;
  background-color: #4a7480;
  position: relative;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars {
  font-size: 2rem;
}
