body {
  background-image: url("../images/Background.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: white;
  height: 100vh;
}

.happy-view {
  background-image: url("../images/HappyBG.jpg");
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  font-size: 1.55rem;
}

h1 {
  padding-top: 40px;
  margin: 0;
  text-shadow: 0 4px 17px #515050;
}

h1:hover {
  cursor: pointer;
}

.slogan {
  margin-bottom: 45px;
}

.slogan-underline {
  height: 3px;
  background: #fff;
  width: 50%;
  margin: 1px auto 0;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.spacing {
  width: 100%;
  height: 180px;
  margin: 20px 5px;
}

.mood-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood {
  background-color: transparent;
  border: 5px solid white;
  color: white;
  height: 90px;
  width: 330px;
}

.sad-container .mood {
  font-size: 2.4rem;
}

.happy-container .mood {
  font-size: 2rem;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.description {
  text-align: center;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  width: 330px;
}

.sad-view-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.animal-img {
  display: flex;
  justify-content: center;
  flex: 1 1 50%;
}

img {
  max-width: 100%;
  min-width: 100%;
}

.dog {
  width: 355px;
  height: 300px;
  object-fit: cover;
}

.quote-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 25px;
  flex: 1 1 50%;
}

.quote {
  width: 355px;
  font-size: 1.4rem;
}

.author-container {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.author-line {
  margin: 0;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.review-btn {
  margin: 0 20px;
  height: 40px;
  width: 120px;
  background-color: transparent;
  border: 4px solid white;
  color: white;
  font-size: 1.1rem;
}

.sad-like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.encouragement {
  font-size: 2.1rem;
}

.happy-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.advice {
  font-size: 2rem;
  text-align: center;
}

.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #4a7480;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

i {
  margin: 0 13px;
}

i:hover {
  cursor: pointer;
}

.fa-home {
  font-size: 2rem;
}

.fa-bars {
  font-size: 2rem;
}
