body {
  background-image: url("../images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: white;
  height: 90vh;
}

header {
  margin-bottom: 70px;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  padding-top: 40px;
  margin: 0;
  text-shadow: 0 4px 17px #515050;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.spacing {
  width: 100%;
  height: 180px;
  margin: 20px 0;
}

.mood-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mood {
  border: 3px solid;
  padding: 15px 30px;
  margin: 0;
}

.sad-container .mood {
  font-size: 2.4rem;
  padding: 15px 89px;
}

.happy-container .mood {
  font-size: 2rem;
  padding: 15px 65px;
}

.choice {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.choice:hover {
  cursor: pointer;
}

.description {
  text-align: center;
  margin-top: 25px;
}

.sad-view-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.animal-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dog {
  width: 330px;
}

.navbar {
  background-color: #4a7480;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

i:hover {
  cursor: pointer;
}

.fa-bars {
  font-size: 2rem;
}
