body {
  background-color: #6ca4b4;
  font-family: "Roboto", sans-serif;
  color: white;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  padding-top: 40px;
  margin: 0;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.mood-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sad {
  font-size: 3rem;
  border: 3px solid white;
  padding: 10px 39px;
}

.navbar {
  background-color: #4a7480;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.fa-bars {
  font-size: 2rem;
}
